USE [SWP_Hotel_Booking]
GO
/****** Object:  Table [dbo].[BedS]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedS](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BedName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[roomid] [int] NULL,
	[rating] [int] NULL,
	[content] [text] NULL,
	[createdDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[InID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoomID] [int] NULL,
	[CheckInDate] [date] NULL,
	[CheckOutDate] [date] NULL,
	[ReservationStatus] [int] NULL,
	[NumberPerson] [int] NULL,
	[NumberRooms] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[transactionCode] [varchar](20) NULL,
	[TypePayment] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Img] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[BID] [int] NULL,
	[RoomName] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[Details] [nvarchar](max) NULL,
	[TotalRoom] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomServices]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomServices](
	[RID] [int] NOT NULL,
	[SeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[SeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicess]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicess](
	[SeID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[Status] [int] NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/27/2024 4:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](255) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Gender] [bit] NULL,
	[DOB] [date] NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BedS] ON 

INSERT [dbo].[BedS] ([BID], [BedName]) VALUES (1, N'Single Bed')
INSERT [dbo].[BedS] ([BID], [BedName]) VALUES (2, N'Kings Bed')
INSERT [dbo].[BedS] ([BID], [BedName]) VALUES (3, N'Queens Bed')
SET IDENTITY_INSERT [dbo].[BedS] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([id], [userid], [roomid], [rating], [content], [createdDate]) VALUES (18, 9, 2, 4, N'13981273981273912', CAST(N'2024-02-22' AS Date))
INSERT [dbo].[Feedback] ([id], [userid], [roomid], [rating], [content], [createdDate]) VALUES (19, 9, 2, 4, N'13981273981273912', CAST(N'2024-02-22' AS Date))
INSERT [dbo].[Feedback] ([id], [userid], [roomid], [rating], [content], [createdDate]) VALUES (20, 9, 4, 1, N'1209380129312', CAST(N'2024-02-22' AS Date))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[INVOICES] ON 

INSERT [dbo].[INVOICES] ([InID], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [ReservationStatus], [NumberPerson], [NumberRooms], [Note], [transactionCode], [TypePayment]) VALUES (3, 1, 2, CAST(N'2024-01-20' AS Date), CAST(N'2024-01-22' AS Date), 1, 2, 1, N'Booking for user 101', NULL, NULL)
INSERT [dbo].[INVOICES] ([InID], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [ReservationStatus], [NumberPerson], [NumberRooms], [Note], [transactionCode], [TypePayment]) VALUES (4, 2, 3, CAST(N'2024-01-21' AS Date), CAST(N'2024-01-24' AS Date), 1, 1, 2, N'Booking for user 102', NULL, NULL)
INSERT [dbo].[INVOICES] ([InID], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [ReservationStatus], [NumberPerson], [NumberRooms], [Note], [transactionCode], [TypePayment]) VALUES (5, 3, 4, CAST(N'2024-01-22' AS Date), CAST(N'2024-01-23' AS Date), 1, 3, 1, N'Booking for user 103', NULL, NULL)
SET IDENTITY_INSERT [dbo].[INVOICES] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
INSERT [dbo].[RoomServices] ([RID], [SeID]) VALUES (2, 1)
INSERT [dbo].[RoomServices] ([RID], [SeID]) VALUES (2, 2)
INSERT [dbo].[RoomServices] ([RID], [SeID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Servicess] ON 

INSERT [dbo].[Servicess] ([SeID], [ServiceName], [Status], [Icon], [Description]) VALUES (1, N'Travel Plan', 1, N'flaticon-036-parking', N'Let us handle the details of your journey with our Travel Plan service. From flights to accommodations, we create personalized itineraries for a stress-free travel experience.')
INSERT [dbo].[Servicess] ([SeID], [ServiceName], [Status], [Icon], [Description]) VALUES (2, N'Catering Service', 1, N'flaticon-033-dinner', N'Elevate your events with our Catering Service. Our chefs craft exquisite menus for any occasion, using the finest ingredients to leave a lasting impression on your guests.')
INSERT [dbo].[Servicess] ([SeID], [ServiceName], [Status], [Icon], [Description]) VALUES (3, N'Babysitting', 1, N'flaticon-026-bed', N'Enjoy worry-free time away with our Babysitting service. Our reliable caregivers create a safe and entertaining environment for your little ones.')
SET IDENTITY_INSERT [dbo].[Servicess] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Password], [FullName], [Email], [Phone], [Gender], [DOB], [Role]) VALUES (1, N'password123', N'User One', N'user1@example.com', N'123-456-7890', NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Password], [FullName], [Email], [Phone], [Gender], [DOB], [Role]) VALUES (2, N'password456', N'Receptionist One', N'receptionist1@example.com', N'987-654-3210', NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Password], [FullName], [Email], [Phone], [Gender], [DOB], [Role]) VALUES (3, N'password789', N'Manager One', N'manager1@example.com', N'111-222-3333', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053429C1C0E9]    Script Date: 2/27/2024 4:41:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVOICES] ADD  CONSTRAINT [df_typePayment]  DEFAULT ((1)) FOR [TypePayment]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Servicess] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([roomid])
REFERENCES [dbo].[Rooms] ([RID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RID])
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([BID])
REFERENCES [dbo].[BedS] ([BID])
GO
ALTER TABLE [dbo].[RoomServices]  WITH CHECK ADD FOREIGN KEY([SeID])
REFERENCES [dbo].[Servicess] ([SeID])
GO
ALTER TABLE [dbo].[RoomServices]  WITH CHECK ADD FOREIGN KEY([RID])
REFERENCES [dbo].[Rooms] ([RID])
GO
